annotated-types==0.7.0
arrow==1.3.0
beautifulsoup4==4.13.4
blis==1.3.0
cachetools==6.1.0
catalogue==2.0.10
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
cloudpathlib==0.21.1
confection==0.1.5
contourpy==1.3.2
cycler==0.12.1
cymem==2.0.11
cytoolz==1.0.1
floret==0.10.5
fonttools==4.58.4
idna==3.10
jellyfish==1.2.0
Jinja2==3.1.6
joblib==1.5.1
-e git+ssh://git@github.com/half-pie/half-json.git@7601c6dc527b497926990921fdedcc105d96ec12#egg=jsonfixer
kiwisolver==1.4.8
langcodes==3.5.0
language_data==1.3.0
llvmlite==0.44.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
markov-clustering==0.0.6.dev0
MarkupSafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
murmurhash==1.0.13
networkx==3.4.2
nltk==3.9.1
numba==0.61.2
numpy==2.2.6
packaging==25.0
pandas==2.3.0
pathlib2==2.3.7.post1
pillow==11.2.1
preshed==3.0.10
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pyparsing==3.2.3
pyphen==0.17.2
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.11.6
requests==2.32.4
rich==14.0.0
scikit-learn==1.7.1
scipy==1.15.3
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
soupsieve==2.7
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
textacy==0.13.0
thinc==8.3.6
threadpoolctl==3.6.0
tilse==0.2.1
-e git+ssh://git@github.com/zhanzecheng/Time_NLP.git@ba84240d6c76af441d99b5587b4ec152fe67e291#egg=TimeConverter
toolz==1.0.0
tqdm==4.67.1
typer==0.16.0
types-python-dateutil==2.9.0.20250516
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
wasabi==1.1.3
weasel==0.4.1
wrapt==1.17.2
